<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="./css/style.css" rel="stylesheet" type="text/css">
    <title>Add Course</title>
</head>

<body>
    <h1 align="center">Add new course</h1>
    <!-- <input type="text" id="id" name="id" placeholder="Insert Course ID">
    <br><br> -->
    <input type="text" id="name" name="name" placeholder="Insert Course Name">
    <br><br>
    <textarea rows="5" cols="40" placeholder="Enter Description" id="description" name="description"></textarea>
    <br><br>
    <button id="add" name="add">Add</button>
</body>

<script src="../public/add.js"></script>

</html>