<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="./css/style.css" rel="stylesheet" type="text/css">
    <title>Edit Question</title>
</head>

<body>
    <input type="text" id="contentEdit" name="contentEdit" placeholder="Edit Content">
    <br><br>
    <input type="text" id="idEdit" name="courseEdit" placeholder="Edit Course name">
    <br><br>
    <button id="edit" name="edit" onclick="editQuestion()">Save</button>
    <br><br>
</body>
<script src="../public/editQuestion.js"></script>

</html>