<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="./css/style.css" rel="stylesheet" type="text/css">
    <link href="./css/editCourse.css" rel="stylesheet" type="text/css">
    <title>Edit Course</title>
</head>

<body>
    <h1 align="center">Edit your courses</h1>
    <input type="text" id="nameEdit" name="nameEdit" placeholder="Edit Course Name">
    <br><br>
    <textarea rows="5" cols="40" placeholder="Edit Description" id="descriptEdit" name="descriptEdit"></textarea>
    <br><br>
    <button id="edit" name="edit">Save</button>
    <br><br>
    <div class="table-class">
        <br><br>
        <table class="editTable" style="width: 50%">
            <thead>
                <th>#</th>
                <th>Question</th>
                <th>Action</th>
            </thead>
            <tbody class="editTbody">

            </tbody>
        </table>
    </div>
</body>

<script src="../public/edit.js"></script>

</html>