<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<head>
    <meta charset="utf-8">
    <title>Login Form Tutorial</title>
    <link href="./css/result.css" rel="stylesheet" type="text/css">
</head>

<body>
    <h1>List of Question</h1>
    <div class="quiz-container">
        <div id="quiz"></div>
        <button id="submitquiz" onclick="location.href='./courses.html';" style="visibility:hidden;">Kết thúc bài kiểm
            tra</button>
    </div>
    <button id="previous">Previous Question</button>
    <button id="next">Next Question</button>
    <button id="submit">Submit Quiz</button>
    <div id="results"></div>
    <span id="timer">05:00</span>


</body>
<script type="text/javascript" src="./../public/question.js"></script>
<script>
</script>

</html>